<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-centre d-flex">
            <i style="font-size: 40px;"class="fas fa-book">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">Bookkart</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="search books or authors">
            </div>
           

        </div>
        
  
    </div>
  </header>
  